@charset "UTF-8";

.row {
	margin-bottom: 20px;
	display: flex;
	gap: 0px;
}

.col-2, .col-4, .col-6, .col-8, .col-10, .col-12 {
	padding: 0;
}
/* 열 너비 설정 */
.col-2 {
	flex: 0 0 16.666%;
}
.col-4 {
	flex: 0 0 33.333%;
}
.col-6 {
	flex: 0 0 50%;
}
.col-8 {
	flex: 0 0 66.666%;
}
.col-10 {
	flex: 0 0 83.333%;
}

section#post-container {
	width: 1000px;
	margin: 10px 10px !important;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 8px;
	background-color: #fff;
}
table {
	width: 100%;
}
table td{
	padding: 10px;
}
.category-name>td {
	color: #FF69B4;
	display: inline-block;
	border: 2px solid #FFE4E1;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.post-title h3 {
	color: black;
}
.info>td {
	display: inline-block;
	margin-right: 10px;	
	
}
.info {
	border-bottom: 1px solid #000000;
}
.member-name {
	background-color: #FFF5F5;
	width: 100%;
}